.App {
  text-align: center;
  background-color: lightgray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  background-image: url('/public/images/Header.jpg');
  object-fit: scale-down;
  padding: 1em;
  color: white;
  text-shadow: 1px gray;
}

.image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid black;
}

.description {
  color: antiquewhite;
  text-transform: uppercase;
  background-color: black;
  border: 1px solid black;
  height: 203.5px;
  width: 300px;
  object-fit: cover;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 100px;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.imageContainer {
  border: 1px solid black;
  background-color: grey;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.button {
  display: inline;
}

.likeCount {
  display: inline;
}

.form {
  margin: 10px;
  padding: 10px;
}

#formHead {
  text-transform: uppercase;
  display: inline;
  color: #29b6f6
}